<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg bg-info rounded-bottom justify-content-center ">
                   <p class="navbar-brand mx-2 my-auto"> Silver Star Cargo Pvt. Ltd.</p>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon bg-white"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto"> 
                            <li class="nav-item mx-2 ">
                                <a href="/" class="nav-link link-light bg-info text-black shadow rounded">Add
                                    AWB</a>
                            </li>
                            <li class="nav-item">
                                <a href="viewawbs/" class="nav-link link-light bg-info text-black shadow rounded">View 
                                    AWB</a>
                            </li>
                            


                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</body>

</html>